<div class="row">
  <h1 class="text-center">コメントの編集</h1>
  <div class="col-xs-6">
    <table class="table ">
      <thead>
        <tr>
          <th class="text-center">コメント</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <%= form_for(@message) do |f| %>
                <div class="form-group">
                  <%= f.text_area :comment, rows: 5, class: "form-control" %>
                </div>
                <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>