<div class="text-center">
<h1 class="text-center page-header ">BadmintonMatchingの使い方</h1>
<p>BadmintonMatchingでバドミントン仲間を見つけましょう。</p>
<p>ユーザーをフォローすると、トップページにフォローした人のに投稿が表示されます。</p>
<p>さらに相互フォローになった人の投稿にコメントできるようになります。</p>
<p>気になる投稿を見つけたら気軽にフォローやいいねをしてみましょう。</p>
</div>